#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define PREFS  1
#define T9L     2
#define T9M     3
#define T9R     4
#define T9SP    5
#define TEAMS   6

/{
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mo PREFS      &kp DOT         &kp SLASH       &kp BSPC
                &lt T9SP N1     &kp N2          &kp N3          &kp MINUS
                &kp N4          &kp N5          &kp N6          &kp PLUS
                &kp N7          &kp N8          &kp N9          &kp EQUAL
                &lt T9L STAR    &lt T9M N0      &lt T9R HASH    &kp RET
            >;
        };

        prefs_layer {
            bindings = <
                &none           &bt BT_SEL 0        &bt BT_SEL 1    &bt BT_SEL 2
                &tog TEAMS      &kp N2              &kp N3          &kp MINUS
                &kp N4          &kp N5              &kp N6          &out OUT_USB
                &kp N7          &kp N8              &kp N9          &out OUT_BLE
                &reset          &bootloader         &kp HASH        &bt BT_CLR
            >;
        };

        T9L_layer {
            bindings = <
                &kp ESC        &bt BT_SEL 0       &bt BT_SEL 1   &bt BT_SEL 2
                &kp N1         &kp A              &kp D          &kp MINUS
                &kp G          &kp J              &kp M          &out OUT_USB
                &kp P          &kp T              &kp W          &out OUT_BLE
                &none          &kp PLUS           &kp HASH       &bt BT_CLR
            >;
        };

        T9M_layer {
            bindings = <
                &kp ESC        &bt BT_SEL 0       &bt BT_SEL 1   &bt BT_SEL 2
                &kp N1         &kp B              &kp E          &kp MINUS
                &kp H          &kp K              &kp N          &out OUT_USB
                &kp Q          &kp U              &kp X          &out OUT_BLE
                &bootloader    &kp N0             &kp HASH       &bt BT_CLR
            >;
        };

        T9R_layer {
            bindings = <
                &kp ESC        &bt BT_SEL 0       &bt BT_SEL 1   &bt BT_SEL 2
                &kp N1         &kp C              &kp F          &kp MINUS
                &kp I          &kp L              &kp O          &out OUT_USB
                &kp R          &kp V              &kp Y          &out OUT_BLE
                &bootloader    &kp N0             &kp HASH       &bt BT_CLR
            >;
        };

        T9SP_layer {
            bindings = <
                &kp ESC       &bt BT_SEL 0        &bt BT_SEL 1    &bt BT_SEL 2
                &kp N1        &kp LPAR            &kp RPAR        &kp UNDER
                &kp EXCL      &kp DLLR            &kp PRCNT       &out OUT_USB
                &kp S         &kp AT              &kp Z           &out OUT_BLE
                &kp LT        &kp GT              &kp TILDE       &bt BT_CLR
            >;
        };

        TEAMS_layer {
            bindings = <
                &tog TEAMS          &none            &none           &none
                &none               &none            &none           &none
                &none               &none            &none           &none
                &none               &none            &none           &none
                &kp LGUI(LS(M))     &kp LGUI(LS(E))  &kp LGUI(LS(K)) &kp LGUI(LS(H))
            >;
        };

    };
};
